<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appender name="file" class="ch.qos.logback.core.FileAppender">
	    <file>capability-tests.log</file>
	    <append>true</append>
        <encoder>
            <pattern>%d{yyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg %kvp{DOUBLE}%n</pattern>
        </encoder>
	</appender>    
    <root level="INFO">
        <appender-ref ref="file"/>
    </root>
</configuration>