<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated engineering -->
      <package
            uri="urn:org.nasdanika.exec"
            class="org.nasdanika.exec.ExecPackage"
            genModel="model/exec.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated exec -->
      <package
            uri="urn:org.nasdanika.exec.content"
            class="org.nasdanika.exec.content.ContentPackage"
            genModel="model/exec.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated exec -->
      <package
            uri="urn:org.nasdanika.exec.resources"
            class="org.nasdanika.exec.resources.ResourcesPackage"
            genModel="model/exec.genmodel"/>
   </extension>

</plugin>
