<?xml version="1.0" encoding="UTF-8"?>

<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
  <servers>
    <server>
      <id>nasdanika-org</id>
      <username>${env.FTP_USER}</username>
      <password>${env.FTP_PASSWORD}</password>
	<configuration>
        	<strictHostKeyChecking>no</strictHostKeyChecking>
	        <preferredAuthentications>publickey,password</preferredAuthentications>
	        <interactive>false</interactive>
      	</configuration>
    </server>
  </servers>
</settings>
