<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>
   <extension-point id="command" name="Nasdanika Command Line Interface Contributions" schema="schema/command.exsd"/>
   <extension
         id="app"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
         <run
               class="org.nasdanika.cli.Application">
         </run>
      </application>
   </extension>
</plugin>
