<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated graph -->
      <package
            uri="ecore://nasdanika.org/core/gaph/model"
            class="org.nasdanika.graph.model.ModelPackage"
            genModel="model/graph.genmodel"/>
   </extension>

</plugin>
