<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated tree -->
      <package
            uri="urn:org.nasdanika.sirius.tree"
            class="org.nasdanika.sirius.tree.TreePackage"
            genModel="model/tree.genmodel"/>
   </extension>

</plugin>
