<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated party -->
      <package
            uri="urn:org.nasdanika.party"
            class="org.nasdanika.party.PartyPackage"
            genModel="model/party.genmodel"/>
   </extension>

</plugin>
