<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.eclipse.eef.ide.ui.eefLifecycleManagerProvider">
      <descriptor
            class="org.nasdanika.eef.ext.widgets.NasdanikaLifecycleManagerProvider"
            description="Provider of Nasdanika custom widgets"
            id="org.nasdanika.eef.ext.widgets.NasdanikaWidgetLifecycleManager"
            label="Nasdanika Widget Lifecycle Manager Provider">
      </descriptor>
   </extension>
</plugin>
